.border {
    border: 1px solid rgba(112, 112, 112, 0.12) !important;
    background-color: white;
}
.radius {
    border-radius: 4px;
}
.v-pagination__item, .v-pagination__navigation {
    box-shadow: none;
}